@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --numbers: #b5cea8;
  --objectKeys: #9cdcfe;
  --arrays: #c586c0;
  --const: #569cd6;
  --variable: #4fc1ff;
  --operatorsAndComma: #d4d4d4;
  --strings: #ce9178;
  --curlyBrace: #f7dc0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-color-main: 25, 25, 23;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color-main));
}
